@import "tailwindcss";

:root {
  --primary-color: #1E1E1E;
  --secondary-color: #424242;
  --accent-color: #935127;
  --text-accent-color: #C6865D;
}

body {
  background-color: var(--secondary-color);
  color: #FFFFFF;
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-accent-color {
  background-color: var(--accent-color);
}

.outline-secondary-color {
  outline-color: var(--secondary-color);
}

.outline-accent-color {
  outline-color: var(--accent-color);
}

.outline-primary-color {
  outline-color: var(--primary-color);
}

.text-accent-color {
  color: var(--text-accent-color);
}


body h1::selection {
  background-color: var(--primary-color);
}

span::selection {
  background-color: var(--secondary-color);
}

img {
  user-select: none;
}

#chat-body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#chat-body >div>div {
  max-width: 400px;
}

.text-red {
  color: #DF5853;
}